<%= stylesheet_link_tag "login" %>
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <%= f.label :email, class: "text-info" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "text-info" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :remember_me, class: "text-info" %>
                <%= f.check_box :remember_me %><br>
                <div class="actions">
                  <%= f.submit "Log in", class: "btnSubmit" %>
                </div>
                <br>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>